@model DesafioEscalantHospitalCentral.ViewModel.AmostraPacienteVirusViewModel

@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h4 class="text-center">Amostras</h4>
    </div>
    <div class="col-md-12 text-center">
        @Html.TextAreaFor(model => model.AmostraEntrada, new { @cols = "100", @rows = "6" })
        @*<textarea name="amostras" cols="100" rows="6">
3
abbab ba
hello world
banana nan
</textarea>*@
    </div>
    <div class="col-md-12">
        <div class="btn btn-success">Exemplo padrão</div>
        <button type="submit" class="btn btn-primary pull-right">Executar análise</button>
    </div>
    <hr />
    <div class="col-md-12">
        <h4 class="text-center">Resultado</h4>
    </div>
    <div class="col-md-12 text-center">
        @Html.TextAreaFor(model => model.Resultado, new { @disabled = "disabled", @cols = "100", @rows = "6" })
        @*<textarea disabled cols="100" rows="6"></textarea>*@
    </div>
</div>
}