@model DesafioEscalantHospitalCentral.ViewModel.AmostraPacienteVirusViewModel

@{
    ViewBag.Title = "Home Page";
}
<h2>Comparação de DNA</h2>
<p>O DNA do paciente, assim como do vírus, consiste em letras minúsculas. Como os dados coletados são brutos, pode haver alguns erros. Você precisará encontrar todas as substrings no DNA do paciente que correspondam exatamente ao DNA do vírus ou que tenham, no máximo, uma incompatibilidade, ou seja, uma diferença em no máximo um local.</p>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <h4 class="text-center">Amostras</h4>
    </div>
    <div class="col-md-12 text-center">
        <textarea id="txa-entrada" name="amostra_entrada" cols="100" rows="6"></textarea>
    </div>
    <div class="col-md-12">
        <div class="btn btn-success btnexemplo1">Exemplo padrão 1</div>
        <div class="btn btn-success btnexemplo2">Exemplo padrão 2</div>
        <button class="btn btn-primary pull-right executa-click">Executar análise</button>
    </div>
    <hr />
    <div class="col-md-12">
        <h4 class="text-center">Resultado</h4>
    </div>
    <div class="col-md-12 text-center">
        <textarea id="txa-resultado" disabled cols="100" rows="6"></textarea>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    $('.executa-click').on('click', function () {
        $.ajax({
            url: '/Home',
            type: 'post',
            data: { amostra_entrada: $('#txa-entrada').val() },
            cache: false,
            success: function (data) {
                $('#txa-resultado').val(data);
            }
        });
    })

    $('.btnexemplo1').on('click', function () {
        $('#txa-entrada').val('3\rabbab ba\rhello world\rbanana nan');
    })

    $('.btnexemplo2').on('click', function () {
        $('#txa-entrada').val('3\rcgatcg gc\ratcgatcga cgg\raardvark ab');
    })
</script>
}